
* {
    margin: 0;
    padding: 0;
}

.some-component {
  height: 200px;
  background: rgb(165, 210, 255);
}

.square {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background: rgb(74,112,122);
  background: linear-gradient(0deg, rgba(74,112,122,1) 0%, rgba(221,221,218,1) 100%);
}

 /* #region Flex-Box & Margins */

.spacer-header {
  min-height: 65px;
  display: block;
  width: 100%;
}

.spacer-sm {
  min-height: 20px;
  display: block;
  width: 100%;
}

.dynamic-spacer {
  margin: 60px 0;
  width: 100%;
}

.spacer-lg {
  min-height: 145px;
  display: block;
  width: 100%;
}

.pm {
  padding: 0;
  margin: 0;
}

.flex-wrap {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-wrap-reverse {
  height: auto;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.flex-wrap-closer {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}
.align-start {
  align-items: start;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.rm-browser-margin {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.add-bottom-em {
  margin-bottom: 1em;
}

.add-top-em {
  margin-top: 1em;
}

.block-standard {
  margin: 60px 60px;
}

 /* #endregion Flex-Box & Margins */

 /* #region Drop in Styles */

.roboto {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lucida {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-enlarge {
  font-size: 20px;
  padding-right: 10px;
}

.p-font {
  color: black;
}

.scale {
  transition: all 0.3s ease-in-out;
}

  .scale:hover {
    transform: scale(1.01);
  }

.accent-border:after {
  content: " ";
  display: block;
  padding-bottom: 15px;
  box-shadow: 0 5px 1px -4px grey;
}

.absolute-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.shadow2 {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px transparent,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.emphasised-text {
  color: maroon;
  font-weight: bold;
}

.emphasised-text2 {
  color: #ffffff;
  font-weight: bold;
}

.emphasised-background2 {
  background: #ffffff;
  padding: 1%;
  font-weight: 600;
}

 /* #endregion Drop in Styles */


 .input-time {
   /* width: 50px; */
   /* text-align: center; */
   padding: 0 0 0 10px;
 }

 .cron-textarea {
   font-size: 15px;
   padding: 5px;
   width: 200px;
   height: 130px;
 }

 .cronjob {
   text-align: center;
 }