* {
  margin: 0;
  padding: 0;
}

$theme-color-primary: rgb(255, 255, 255);
$theme-color-primary-darkened: darken($theme-color-primary, 20%);
$theme-color-secondary: rgb(47, 49, 50);
$theme-color-contrast: rgb(133, 26, 27);
$theme-color-header-background: #e1d276;
$theme-color-testimonial-box: #eaf4ec;
$theme-color-testimonial-box: #eff3f0;

$theme-color-footer-primary: $theme-color-secondary;
$theme-color-footer-secondary: #363839;
$theme-color-footer-terciary: rgb(36, 37, 38);
$talk-bubble-color: darken($theme-color-primary, 10%);

$theme-color-footer-font: rgb(183, 183, 183);
$talk-bubble-font: darken($theme-color-contrast, 10%);
$theme-font-color: black;
$theme-font-color-p: #747474;

@import "./fonts.scss", "./header.scss", "./footer.scss";

@font-face {
  font-family: "PT Sans";
  font-display: block;
  src: local("PT Sans"),
    url("../fonts/pt-sans-v11-latin/pt-sans-v11-latin-regular.woff2")
      format("woff2");
}

html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-display: auto;
  font-family: $pt-sans;
}

// #region Flex-Box & Margins

.spacer-header {
  min-height: 65px;
  display: block;
  width: 100%;
}

.spacer-sm {
  min-height: 20px;
  display: block;
  width: 100%;
}

.dynamic-spacer {
  margin: 60px 0;
  width: 100%;
}

.spacer-lg {
  min-height: 145px;
  display: block;
  width: 100%;
}

.pm {
  padding: 0;
  margin: 0;
}

.flex-wrap {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-wrap-reverse {
  height: auto;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.flex-wrap-closer {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}
.align-start {
  align-items: start;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.rm-browser-margin {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.add-bottom-em {
  margin-bottom: 1em;
}

.add-top-em {
  margin-top: 1em;
}

.block-standard {
  margin: 60px 60px;
  line-height: 1.5;
  letter-spacing: -0.5px;
  h1 {
    line-height: 1;
  }
}

// #endregion Flex-Box & Margins

// #region Drop in Styles

.barlow {
  font-family: $barlow;
}

.pt-sans {
  font-family: $pt-sans;
}

.antic {
  font-family: $antic;
}

.font-enlarge {
  font-size: 20px;
  padding-right: 10px;
}

.p-font {
  color: $theme-font-color-p;
}

.scale {
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.01);
  }
}

.accent-border:after {
  content: " ";
  display: block;
  padding-bottom: 15px;
  box-shadow: 0 5px 1px -4px grey;
}

.absolute-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.shadow2 {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px transparent,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.emphasised-text {
  color: $theme-color-contrast;
  font-weight: bold;
}

.emphasised-text2 {
  color: $theme-color-header-background;
  font-weight: bold;
}

.emphasised-background2 {
  background: lighten($theme-color-header-background, 20%);
  padding: 1%;
  font-weight: 600;
}

// #endregion Drop in Styles

// #region Scoped Styles

.terms {
  line-height: 1.5em;
  letter-spacing: -0.5px;
  h1, h3 {
    font-family: $antic;    
    line-height: 1.5em;
  }
  p {
    margin-left: 10px;
    color: $theme-font-color-p;
  }
  ol li {
    margin-left: 40px;
    color: $theme-font-color-p;
  }
  a {

    text-decoration: none;
    color: $theme-font-color;
    &:hover {
      color: $theme-color-contrast;
    }
  }
}

.return {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #0000006e;
  z-index: 4;
}

.green {
  color: green;
  font-weight: bold;
  font-size: 50px;
  padding: 0px 20px 0px 20px;
}

.red {
  color: $theme-color-contrast;
  font-weight: bold;
  font-size: 50px;
}

.app-container {
  overflow: hidden;
}

.banner-img {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../public/img/about/classroom.png");
  background-size: cover;
  position: relative;
  height: calc(90vh - 140px);

  .dynamic-text-container {
    position: static;
    width: 100%;
    height: 150px;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 75px;
    font-size: 50px;
    color: $theme-color-primary;
  }
}

.banner-wrapper {
  position: relative;
  .form-container {
    position: absolute;
    width: 100%;
    top: 49vh;
    height: auto;
    padding: 1.5em 0;
    background: rgba(255, 255, 255, 0.698);
    justify-content: space-evenly;
    align-items: center;
    
    .sdcs {
      font-size: 48px;
      color: $talk-bubble-font;
    }

    #embedded-form-banner {
      width: 34vw;   
    }
  }
}

.front-end {
  .card-bubble {
    margin: 20px;
    display: inline-block;
    position: relative;
    background-color: $theme-color-primary;
    max-height: 600px;
    max-width: 300px;

    .card-text {
      padding: 0 2em 2em 2em;
      text-align: left;
      line-height: 150%;
      letter-spacing: -0.5px;
      h2 {
        margin: 80px 0 16px 0;
      }

      .bookmark {
        width: 180px;
        height: 180px;
        background: $talk-bubble-color;
        margin: 0 auto 60px auto;

        &:after {
          content: "";
          display: block;
          position: static;
          border: 90px solid transparent;
          border-bottom: 50px solid transparent;
          border-color: $talk-bubble-color $talk-bubble-color transparent
            $talk-bubble-color;
        }
        .circle-center {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background: $theme-color-primary;
          margin: 0 auto;
          transform: translateY(50%);

          .icon-fixture {
            width: 30px;
            height: 30px;
            margin: auto;
            background: none;
          }
        }
      }
    }
  }
}

.quote-block {
  .quote {
    font-weight: 200;
    font-size: 30px;
    max-width: 737px;
  }

  .author {
    font-weight: 200;
    font-size: 20px;
  }
}

.class-info {
  .quarter {
    width: 500px;
    max-height: 500px;
    margin: 20px;

    h1 {
      width: 100%;
    }

    ol {
      list-style-position: inside;
      list-style: none;

      & li {
        font-size: 20px;
      }
    }

    p {
      font-size: 20px;
    }
  }
}

.success-stories {
  .testimonial-block {
    background-color: $theme-color-testimonial-box;
    margin: 10px 0px;

    .talk-bubble {
      margin: 20px;
      display: inline-block;
      position: relative;
      font-style: italic;
      height: auto;
      width: auto;
      color: $talk-bubble-font;
      line-height: 150%;
      letter-spacing: -0.5px;
    }
    .testimonial-by {
      min-width: 350px;

      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 10px 30px;
      }
    }
  }
}

.need-info {
  align-items: flex-start;
  padding: 20px 0;
  background: lighten($theme-color-contrast, 5%);
  color: $theme-color-primary;
  font-family: $antic;
  font-size: 22px;
  border-top: 1px solid $theme-color-footer-font;
  border-bottom: 1px solid $theme-color-footer-font;

  & .column {
    letter-spacing: -0.5px;
    justify-content: center;
    align-items: center;

    .place-holder {
      background: $theme-color-primary;
      width: 42vw;
      height: auto;
    }
  }
}

.flexstart-footer {
  align-items: flex-start;
  border-top: 1px solid $theme-color-footer-font;
  border-bottom: 1px solid $theme-color-footer-font;

  div {
    width: 200px;
    padding: 1.5em;
    margin: 0 auto;
    line-height: 150%;
    letter-spacing: -0.5px;

    img {
      width: 100px;
      height: auto;
    }
  }
}

.lead-instructor {
  background: rgb(84, 1, 0);
  color: rgb(215, 165, 43);
  padding: 50px 50px 50px 100px;
  font-size: 36px;
}

.ready-to-begin {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  background: darken($theme-color-secondary, 15%);
  color: $theme-color-primary;
  font-size: 18px;

  & .column {
    width: 50%;
    letter-spacing: -0.5px;
    justify-content: center;
    align-items: center;

    button {
      margin: 0 50px;
      padding: 15px 25px;
      width: 140px;
      font-size: 16px;
      color: $theme-color-primary;
      background-color: $theme-color-contrast;
      border: $theme-color-contrast;
      outline-color: darken($theme-color-primary-darkened, 20%);
      transition: background-color 0.2s;

      &:active {
        transform: translateY(0.5px);
        background: darken($theme-color-contrast, 10%);
      }
    }
  }
}

.questions {
  .information {
    width: 400px;
    height: 300px;
    align-items: initial;
  }
  
  #embedded-form-do {
    width: 34vw;   
  }
}

.meet-up {
  a {
    color: $theme-font-color;
    text-decoration: none;

    &:hover {
      color: $theme-color-contrast;
    }
  }
}

.career-night {
  .information {
    max-width: 650px;

    #info-tech {
      max-width: 500px;
    }
  }
}

.objectives {
  ul li {
    margin-left: 40px;
  }
}

.weeks {
  div div {
    width: 300px;

    ul {
      margin-left: 40px;
    }
  }
}

.apply {
  .information {
    max-width: 600px;
    min-height: 300px;
  }
  #embedded-form-apply {
    width: 34vw;
  }
  .circular-background {
    min-width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 15px;
    color: $theme-color-primary;
    line-height: 21px;
    text-align: center;
    background: $theme-color-contrast;
    margin-right: 5px;
    font-weight: bold;
  }
  div div ol {
    list-style: none;
  }
}

.programs {
  .header-sub {
    margin: 0 120px;
  }
}

.iframe-wrapper {
  background: #fcfcfd;
}

.iframe {
  margin: 0;
  padding: 0;
  border: none;
  min-width: 1020px;
  height: 940px;
  overflow: none;
}

.more-info-steps {
  margin: 10px 10px;

  .medium-img {
    width: 125px;
  }

  h2 {
    color: $theme-font-color-p;
  }

  .emphasized-color {
    color: $theme-color-contrast;
  }
}

.get-info {
  width: 50vw;

}

// #endregion Scoped Styles

// #region Media Queries
@media only screen and (max-width: 1100px) {
  .lead-instructor {
    padding: 25px 25px 25px 50px;
    font-size: 28px;
  }

  .more-info-flex {
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 993px) {

  .apply {
    .information {
      max-width: 90vw;
      min-height: 300px;
    }
    #embedded-form-apply {
      width: 90vw;
    }
    div div ol {
      list-style: none;
    }
  }

  .banner-img {
    margin-top: 0px;
    height: calc(40vh);
  }

  .banner-wrapper {
    position: relative;
    .form-container {
      position: static;
      width: 100%;
      height: 277px;
      background: rgba(255, 255, 255, 0.698);
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    
      .sdcs {
        font-size: 38px;
        margin-bottom: 1em;
      }

      #embedded-form-banner {
        width: 90vw;
        max-width: 650px;
        #form-57a87b06-336e-44ec-bdb3-11413027a99f { // This class effects a child component of the script tag dynamically rendered in ClassBanner.jsx
          height: 230px !important;
        }
      }
    }
  }

  .need-info {
    align-items: center;
    & .column {
      .place-holder {
        width: 90vw;
        margin: auto;
      }
    }
  }
}

@media only screen and (max-width: 875px) {
  .iframe {
    min-width: 660px;
    height: 1060px;
  }

  .more-info-steps {
    margin: 5px 5px;
  }
}

@media only screen and (max-width: 775px) {

  .get-info {
    width: 90vw;
  }

  .questions {
    .information {
      width: 400px;
      height: 300px;
      align-items: initial;
    }
    #embedded-form-do {
      width: 90vw;   
    }
  }
  
  .career-night {
    align-items: center;
    .vimeo {
      width: 100%;
    }
  }
  .dynamic-spacer {
    margin: 40px 0;
    width: 100%;
  }
  .block-standard {
    margin: 40px 40px;
  }
  .success-stories {
    .testimonial-block {
      justify-content: center;
      flex-direction: column;

      .talk-bubble {
        color: $talk-bubble-font;
        width: auto;
        text-align: left;
        line-height: 150%;
        letter-spacing: -0.5px;
      }
    }
  }
  .programs {
    .header-sub {
      margin: 0 10px;
    }
  }
  .lead-instructor {
    padding: 25px 25px;
    font-size: 24px;
    flex-direction: column;
    img {
      padding-top: 1em;
    }
  }
}

@media only screen and (max-width: 678px) {
  .iframe {
    min-width: 320px;
    height: 900px;
  }
}

@media only screen and (max-width: 525px) {
  .more-info-steps {
    margin: 5px 5px;
    .medium-img {
      width: 150px;
    }
  }
}

@media only screen and (max-width: 499px) {

  .lead-instructor {
    padding: 10px 10px;
    font-size: 20px;
    flex-direction: column;
    img {
      width: 200px;
    }
  }
  .ready-to-begin {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    padding: 20px;
    & .column {
      width: auto;
    }
  }
  .lead-instructor {
    padding: 10px 10px;
    margin: 0px;
    font-size: 24px;
    flex-direction: column;
    img {
      width: 200px;
    }
  }
}

@media only screen and (max-width: 399px) {
  .questions {
    .information {
      width: 300px;
    }
  }
  .class-info {
    .quarter {
      width: auto;
      height: auto;
      margin: 20px 0px;
      .mob-img {
        width: 320px;
      }
    }
  }
  .dynamic-spacer {
    margin: 20px 0;
    width: 100%;
  }
  .block-standard {
    margin: 20px 10px;
  }
  .union-tribune {
    a img {
      width: 300px;
    }
  }
  .more-info-steps {
    margin: 5px 5px;
    .medium-img {
      width: 60px;
    }
  }
  .union-tribune {
    a img {
      width: 320px;
      height: auto;
    }
  }
}

// #endregion Media Queries
